# Old PC / legacy hardware fragment
# copyright Koubba Mohamed Rayan — Chamesle-Certification-1.0

CONFIG_LINUX32_EMBEDDED=y
CONFIG_PATA_AMD=y
CONFIG_PATA_OLDPIIX=y
CONFIG_PATA_MPIIX=y
CONFIG_FLOPPY=y
CONFIG_NE2000=y
CONFIG_NE2K_PCI=y
CONFIG_PCNET32=y
CONFIG_FB_VESA=y
CONFIG_FRAMEBUFFER_CONSOLE=y
# CONFIG_EFI is not set
