# Flash / read-only root filesystem stack — merge into board .config
# copyright Koubba Mohamed Rayan — Chamesle-Certification-1.0

CONFIG_LINUX32_EMBEDDED=y
CONFIG_MTD=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_MTD_UBI=y
CONFIG_UBIFS_FS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_EMBEDDED=y
CONFIG_OVERLAY_FS=y
CONFIG_JFFS2_FS=y
CONFIG_TMPFS=y
CONFIG_BLK_DEV_INITRD=y
