# Minimal RAM / image size — merge on top of linux32-embedded.config
# copyright Koubba Mohamed Rayan — Chamesle-Certification-1.0

CONFIG_LINUX32_EMBEDDED=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_XZ=y
CONFIG_SLUB_TINY=y
CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y
CONFIG_LOG_BUF_SHIFT=13
# CONFIG_KALLSYMS is not set
# CONFIG_SWAP is not set
# CONFIG_SYSVIPC is not set
# CONFIG_POSIX_MQUEUE is not set
# CONFIG_AUDIT is not set
# CONFIG_IPV6 is not set
# CONFIG_MODULES is not set
