# 32-bit server profile fragment
# copyright Koubba Mohamed Rayan — Chamesle-Certification-1.0

CONFIG_SMP=y
CONFIG_X86_PAE=y
CONFIG_X86_BIGSMP=y
CONFIG_PREEMPT_NONE=y
CONFIG_LOG_BUF_SHIFT=18
CONFIG_CGROUPS=y
CONFIG_BLK_CGROUP=y
CONFIG_KEXEC=y
CONFIG_MD=y
CONFIG_BLK_DEV_MD=y
CONFIG_DM_RAID=y
CONFIG_BONDING=m
CONFIG_BRIDGE=y
CONFIG_VLAN_8021Q=y
CONFIG_XFS_FS=y
CONFIG_QUOTA=y
